<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="icon" type="image/svg+xml" href="/static/img/favicon.svg" />
	<title>GeoVisio</title>
	<style>
		body {
			text-align: center;
			font-family: sans;
		}
		a {
			text-decoration: none;
		}
		pre code {
			border-radius: 5px;
			text-align: left;
			display: block;
			background: #ddd;
			padding: 5px;
			white-space: pre;
			overflow-x: scroll;
			max-width: 100%;
			min-width: 100px;
		}
	</style>

	<script>
		var baseUrl = window.location.href.replace(/\/$/, '');
		var viewerUrl = "https://cdn.jsdelivr.net/npm/geovisio@~{{API_VERSION_MAJOR_MINOR}}/build";
		function encodeHTML(html) {
			return html
				.replace(/</g, "&lt;")
				.replace(/>/g, "&gt;")
				.replace(/"/g, "&quot;")
				.replace(/'/g, "&#39;");
				//~ .replace(/&/g, "&amp;");
		}
	</script>
</head>
<body>
	<h1><img src="/static/img/logo_full.svg" style="width: 350px; max-width: 90%" alt="GeoVisio" /></h1>
	<p>Simple 360° geolocated pictures hosting</p>
	<iframe src="/viewer" style="border: none; width: 95%; height: 300px"></iframe>
	<p><small><a href="/viewer">Full page version</a></small></p>

	<hr />

	<h2>Viewer</h2>
	<h3>Embed pre-configured viewer</h3>
	<p>Easiest way to have a working GeoVisio viewer on your website</p>
	<pre><code id="code-preconf"></code></pre>
	<script>
		document.getElementById("code-preconf").innerHTML = encodeHTML('<iframe \n\tsrc="'+baseUrl+'/viewer"\n\tstyle="border: none; width: 500px; height: 300px">\n</iframe>');
	</script>

	<h3>Use JS library</h3>
	<p>A completely configurable viewer for your website</p>
	<pre><code id="code-js-html">
	</code></pre>
	<script>
		document.getElementById("code-js-html").innerHTML = encodeHTML(
			'<link rel="stylesheet" type="text/css" href="'+viewerUrl+'/index.css" />\n'
			+'&lt;script src="'+viewerUrl+'/index.js">&lt;/script>\n\n'
			+'<div id="viewer" style="width: 500px; height: 300px"></div>\n\n'
			+'&lt;script>\n'
			+'\t// All options available are listed here\n'
			+'\t// https://gitlab.com/geovisio/web-viewer/-/blob/develop/docs/02_Usage.md\n'
			+'\tvar instance = new GeoVisio.default(\n'
			+'\t\t"viewer",\n'
			+'\t\t"'+baseUrl+'/api",\n'
			+'\t\t{ map: true }\n'
			+'\t);\n'
			+'&lt;/script>'
		);
	</script>

	<hr />

	<h2>Links</h2>
	<p>
		<a href="/viewer">Pictures viewer</a>
		-
		<a href="/api/docs/swagger">API docs</a>
		-
		<a href="https://gitlab.com/geovisio/web-viewer/-/tree/develop/docs">JS library docs</a>
		-
		<a href="https://gitlab.com/geovisio">Repositories</a>
	</p>
</body>
</html>
