<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="icon" type="image/svg+xml" href="/static/img/favicon.svg" />
	<title>GeoVisio</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/geovisio@~{{API_VERSION_MAJOR_MINOR}}/build/index.css" />
	<style>
		#viewer {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	</style>
</head>
<body>
	<div id="viewer">
		<noscript>You need to enable JavaScript to run this app.</noscript>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/geovisio@~{{API_VERSION_MAJOR_MINOR}}/build/index.js"></script>
	<script>
		var instance = new GeoVisio.default(
			"viewer",
			"/api",
			{ map: { startWide: true } }
		);
	</script>
</body>
</html>
